/* Estilos para el contenedor de la barra de navegación */
.top-right-menu {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Estilos para los enlaces de la barra de navegación */
.top-right-menu a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.top-right-menu a:hover {
  color: #f00; /* Cambia el color al pasar el ratón sobre el enlace */
}

/* Estilos para el botón azul */
.boton-azul {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 16px; /* Ajustar el padding para reducir el tamaño del botón */
  border-radius: 10px; /* Redondear las esquinas del botón */
  text-decoration: none;
  font-size: 14px; /* Ajustar el tamaño de la fuente */
}

.boton-azul:hover {
  background-color: #0056b3;
}

/* Estilos adicionales, como ajustar el tamaño de fuente y margen */
.detalle-noticia {
  font-size: 16px;
  margin-top: 20px;
}

/* Estilos para el contenedor del contenido */
.contenido-noticia {
  max-width: 800px; /* Ajusta el ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  margin-left: 80px; /* Añade un pequeño margen desde la izquierda */
}

/* Estilos para la sección de comentarios */
#comentarios {
  margin-top: 30px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#comentarios h3 {
  margin-top: 0;
}

/* Estilos para el enlace de comentarios */
.enlace-negro {
  color: black;
  text-decoration: none;
}

.enlace-negro:hover {
  color: #007bff; /* Cambia el color al pasar el ratón sobre el enlace */
}

/* Estilos para el formulario de comentarios */
#comentarios-formulario {
  margin-top: 10px;
}

#comentarios-formulario textarea {
  width: 100%;
  resize: vertical; /* Permite redimensionar verticalmente el área de texto */
}

/* Estilos para el botón "Publicar" en el formulario de comentarios */
#comentarios-formulario input[type="submit"] {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

#comentarios-formulario input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para el logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    margin: 0;
}
